<div class="header">
  <h1>My Playlist</h1>
  <h2>Simple Apps For Playlist Management</h2>
</div>

<div class="playlist">
  <div class="btnPlaylist">
    <button mat-button color="primary">+New Playlist</button>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-title>Playlist Title</mat-card-title>
      <mat-card-content><p>Total Song 5</p></mat-card-content>
      <mat-card-content class="result">
        <ul class="2d">
          <li *ngFor="let todo of todos; let i=index">
            <h1><span [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span></h1>
          </li>
        </ul>
        <ul class="ddd">
          <li *ngFor="let artist of artists; let i=index">
            <h1><span [ngClass]="{'checked': artist.completed}">{{ artist.newArtist }}</span></h1>
          </li>
        </ul>
        <ul class="ssd">
          <li *ngFor="let duration of durations; let i=index">
            <h1><span [ngClass]="{'checked': duration.completed}">{{ duration.newDuration }} <button (click)="deleteDuration(i); deleteArtist(i); deleteTodo(i)" class="addBottom" mat-button color="primary"  type="submit">Delete</button></span></h1>
          </li>
        </ul>
      </mat-card-content>
      <div class="addSong">
        <button class="addTop" (click)="show = !show" mat-button color="primary">{{show ? 'Close' : '+Add Song'}}</button>
        <div *ngIf="show">
          <form (submit)="addTodo($event); addArtist($event); addDuration($event);">
            <mat-form-field appearance="fill" (submit)="addTodo($event)">
              <mat-label>Song Title</mat-label>
              <input matInput [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="textfield" name="newTodo">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" (submit)="addArtist($event)">
              <mat-label>Artist Name</mat-label>
              <input matInput [(ngModel)]="newArtist" (keyup.enter)="newArtist=''" class="textfield" name="newArtist">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" (submit)="addDuration($event)">
              <mat-label>Song Duration</mat-label>
              <input matInput [(ngModel)]="newDuration" (keyup.enter)="newDuration=''" class="textfield" name="newDuration">
            </mat-form-field>
            <br>
            <button class="addBottom" mat-button color="primary"  type="submit">Add Song</button>
          </form>
        </div>
      </div>
      
    </mat-card>
  </div>
</div>