@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html{
  width: auto;
}

body{
  max-width: 100%;
}

.header{
    width: 100%;
    text-align: center;
    margin-top: 5em;
}

.header > h1{
    font-size: 50px;
    color:rgb(111,0,255);
    font-family: 'Nunito', 'sans-serif' !important;
}

.header > h2{
    font-family: 'Nunito', 'sans-serif' !important;
    font-size: 30px;
}

.box1 {
    border: solid 1px #006699;
    background: #f3f3f3;
    border-radius: 5px;
  }

  .todos input.textfield {
    width: 480px;
    height: 36px;
    margin-right: 20px;
    font-size: 1.4em;
    vertical-align: top;
  }

  .todos input.checkbox {
    width: 20px;
    height: 20px;
  }

  .todos .checked {
    text-decoration: line-through;
  }

  .todos button {
    height: 36px;
    font-size: 1.1em;
    vertical-align: top;
    border: solid 1px #999;
    border-radius: 2px;
  }

  .todos .delete-icon {
    display: inline-block;
    cursor: pointer;
  }

  .playlist{
    width: 100%;
    margin-left: 7em;
    margin-top: 5em;
  }

  .btnPlaylist{
    margin-bottom: 2em;
  }

  mat-card{
    font-family: 'Nunito' !important;
    width: 80%;
    background-color: rgb(236, 233, 233);
  }

  mat-card-title{
    color: rgb(111,0,255);
  }

  .addTop {
    margin-bottom: 20px;
  }

  mat-form-field{
    color: rgb(111,0,255);
    width: 400px;
  }

  mat-card-content{
    color: black;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  .result{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  mat-label{
    color: rgb(111,0,255);
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  mat-grid-tile {
    background: black;
  }

  .ddd {
    list-style-type: none;
  }

  .ssd{
    list-style-type: none;
  }

  .result > ul{
    margin-top: 20px;
    margin-bottom: 20px;
  }